<%@fav_links = ["https://www.nytimes.com/", "http://www.imdb.com/", "https://www.reddit.com/"," https://www.pinterest.com/", "https://www.nasa.gov/" ]%>

<%@fav_links.each do |link|-%>
<a><%=link-%></a>
<%end-%>
